{{ ansible_managed | comment }}

apiVersion: {{ version | default(1) }}

{% if deleteDatasources is defined %}
deleteDatasources:
{{ deleteDatasources | to_nice_yaml(indent=2) }}
{% endif %}

{% if datasources is defined %}
datasources:
{{ datasources | to_nice_yaml(indent=2) }}
{% endif %}
