{{ ansible_managed | comment }}

{% for section in conf %}
[{{ section }}]
{% for key, value in config[section].items() %}
{% if value is string %}
{{ key }} = "{{ value }}"
{% else %}
{{ key }} = {{ value | to_json }}
{% endif %}
{% endfor %}

{% endfor %}
